:root{
  --mont: 'Montserrat', sans-serif;
}

body{
  background-color: #f2f2f2;
}

main{
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

.formulario{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.formulario__label{
  display: block;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input{
  position: relative;
}

.formulario__input{
  width: 100%;
  background: white;
  border: 3px solid transparent;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  transition: .3s ease all; 
  padding: 0 10px;
  font-size: 18px;
}

.formulario__input:focus{
  border: 2px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, .5);
}

.formulario__input-error{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-active{
  display: block;
}

.formulario__validacion-estado{
  position: absolute;
  right: -15px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulacio__checkbox{
  margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
  grid-column: span 2;
}

.formulario__mensaje{
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  border-radius: 5px;
  background:#EC7063;
  color: white;
  font-size: 18px;
  display: none;
}

.formulario__mensaje-active{
  display: block;
}

.formulario__mensaje p{
 margin: 0;
}

.formulario__grupo-btn-enviar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn{
  height: 45px;
  line-height: 45px;
  width: 40%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background:#58D68D ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease all;
  outline: none;
}

.formulario__btn:hover{
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito{
  height: 40px;
  line-height: 40px;
  width: 30%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background:#58D68D ;
  color: white;
  border-radius: 5px;
  display: none;
}

.formulario__mensaje-exito-active{
  display: block;
}

/* Estilos para validacion */

.formulario__grupo-correcto .formulario__validacion-estado{
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
  color:#EC7063 ;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
  color:#EC7063 ;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
  border: 2px solid #EC7063 ;
}

/* Media Queries */

@media screen and (max-width:800px){
  .formulario{
    grid-template-columns: 1fr;
  }
  .formulario__grupo-terminos,
  .formulario__mensaje,
  .formulario__grupo-btn-enviar{
    grid-column: 1;
  }
}